---
export interface Props extends astroHTML.JSX.InputHTMLAttributes {
  label: string;
}

const { label, ...props } = Astro.props;
---

<label
  for="status"
  class="relative inline-flex cursor-pointer items-center gap-2"
>
  <input
    type="checkbox"
    value="status"
    id="status"
    class="peer sr-only"
    {...props}
  />
  <div
    class="peer h-6 w-11 rounded-full bg-gray-200 after:absolute after:top-[2px] after:left-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-blue-500 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:border-gray-600 dark:bg-gray-700 dark:peer-focus:ring-blue-800"
  >
  </div>
  <label class="font-medium">{label}</label>
</label>
