---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Passionné de code, je développe aussi bien des interfaces front que du backend, principalement en React et NodeJS avec une forte appétence pour TypeScript. J’aime apprendre, comprendre et tester.
    
    Rendre l’expérience utilisateur la plus agréable et fun possible."
    />
  </head>
  <body>
    <slot />
  </body>
</html>
